
  <% if notice %>
    <p id="notice" class="notice alert alert-primary"><%= notice %></p>
  <% end %>

<div class="card form">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <%= image_tag(@product.image_url, class: "img-fluid") unless @product.image_url.nil? %>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="description">
        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>

        <p>
          <strong>Color:</strong>
          <%= @product.colour %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @product.price %>
        </p>

        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

        <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>


        <p><%= link_to 'Edit', edit_product_path(@product), :class => "edit" %> |
        <%= link_to 'Back', products_path, :class => "back" %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>
        <%= render 'new_comment' %>
      </p>

    </div>
  </div>
  <div class="card-footer">
    <%= render 'comments' %>
  </div>

</div>
